{% extends 'base.html' %}
{% block content %}
<h2 class="mb-4 mt-5 text-center">Agregar Reserva</h2>
<form method="POST" class="col-md-6 mx-auto">
    <div class="mb-3">
        <label for="correo" class="form-label">Correo del Cliente</label>
        <input type="email" name="correo" class="form-control" required value="{{ correo }}">
    </div>
    <div class="mb-3">
        <label for="partido" class="form-label">Partido</label>
        <input type="text" name="partido" class="form-control" required>
    </div>
    <div class="mb-3">
        <label for="fecha" class="form-label">Fecha</label>
        <input type="date" name="fecha" class="form-control" required>
    </div>
    <div class="mb-3">
        <label for="cantidad" class="form-label">Cantidad</label>
        <input type="number" name="cantidad" class="form-control" required min="1">
    </div>
    <button type="submit" class="btn btn-primary">Guardar Reserva</button>
    <a href="{{ url_for('index') }}" class="btn btn-secondary ms-2">Cancelar</a>
</form>
{% endblock %}